{% extends "base.html" %} {% block body %}
<div class="container mt-5">
  <h1>User Memberships</h1>
  <a
    href="{{ url_for('memberships.add_user_membership') }}"
    class="btn btn-primary mb-3"
    >Add User Membership</a
  >
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Membership Plan</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      {% for um in user_memberships %}
      <tr>
        <td>{{ um.id }}</td>
        <td>{{ um.user.email }}</td>
        <td>{{ um.membership.name }}</td>
        <td>{{ um.start_date.strftime('%Y-%m-%d') }}</td>
        <td>{{ um.expiry_date.strftime('%Y-%m-%d') }}</td>
        <td>{{ "Yes" if um.is_active else "No" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
